
footer{background-color:rgba(17,28,36,1); color:white; box-sizing:border-box; padding-top:30px;}
footer svg{display:block; width:30px; height:30px; fill:white;}
footer>.frame{padding-bottom:30px;    width: 85%;
    margin: 0 auto;}
.footer_blocks_1{display:none;}
footer ul{padding:0;display:block}
footer li{margin: 20px 0 20px 0; font-size:15px;}
footer a{color:rgba(255,255,255,0.6); text-decoration:none;}
footer a:hover{color:white;}
footer li:before{display:none;}
.copyrights{font-size:12px;}

footer .f_contacts{display:flex; align-items:center;}
footer .f_contacts>div>svg{padding-right:20px; fill:white;}
footer .social_info>div{display:flex; }
footer .social_info>div>a{padding: 0 20px 0 0; }
footer .social_info>div>a>svg{ transition:all 0.1s ease-in-out;}
footer .social_info>div>a:hover svg{transform:scale(1.2);}

footer h2{color:rgba(255,255,255,0.8); margin:0px 0 30px 0;}
footer .copyrights{padding-top:30px; border-top:1px solid rgba(255,255,255,0.2);}
footer .copyrights>p{margin-bottom:0; line-height:1;}


footer{padding: 50px 0 0 0;}
footer h2{margin:0px 0 0px 0;line-height: 1.1;
    font-size:16px;}
footer .copyrights{padding-top:50px;}
footer>.frame{display:flex; justify-content:space-between; padding-bottom:50px;}
.footer_blocks_0{width:25%;}
.footer_blocks_1{display:block; width:25%; padding: 0 1% 0 1%; box-sizing: border-box;}
footer li{font-size:16px;}



@media all and (min-width: 375px) and (max-width: 1023px){}
@media all and (min-width: 1024px) and (max-width: 1279px){}
@media all and (min-width: 1280px) and (max-width: 1599px){}
@media all and (min-width: 1600px){

}

@media (min-width: 1200px) {
    footer h2{font-size:18px;}
}



